@import url('/src/assets/main.css');

a {
    text-decoration: none;
}

.btn-next,
.btn-back {
    display: flex;
    font-size: var(--small);
    font-family: Satoshi-Bold, sans-serif;
    width: 80px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
}

.btn-back {
    display: flex;
    background-color: var(--orange-a10);
    color: var(--orange-100);
    border: 0.5px solid var(--orange-5);
}

.btn-next {
    display: flex;
    background-color: var(--orange-100);
    color: var(--black-500);
    border: 0.5px solid var(--orange-5);
}

.btn-next:hover,
.btn-back:hover {
    background-color: var(--orange-a20);
    color: var(--white-a80);
    cursor: pointer;
}

.btn-next:active {
    background-color: var(--black-500);
    border-color: var(--orange-100);
}

.btn-back:active {
    background-color: var(--orange-100);
    color: var(--black-500);
}

.btn-continue-green {
    background-color: var(--green-100);
}

.btn-continue-red {
    background-color: var(--red-100);;
}

.btn-continue-green,
.btn-continue-red {
    color: var(--black-500);
    font-size: var(--small);
    padding: 6px 24px;
    height: fit-content;
    align-self: flex-end;
    border-radius: 8px;
    font-family: Satoshi-Bold, sans-serif;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange-5);
}

.btn-continue-green:hover {
    background-color: var(--green-a20);
    color: var(--white-a80);
}

.btn-continue-red:hover {
    background-color: var(--red-a20);
    color: var(--white-a80);
}

.btn-continue-green:active {
    background-color: var(--green-a20);
    border: 1px solid var(--green-100);
    outline: none;
}

.btn-continue-red:active {
    background-color: var(--red-a20);
    border: 1px solid var(--red-100);
    outline: none;
}

.btn-hint {
    align-self: flex-end;
    margin: 8px 0;
    cursor: pointer;
    white-space: nowrap;
    color: var(--orange-100);
    width: fit-content;
    background-color: transparent;
    border: none;
}

.btn-hint:hover {
    opacity: 0.8;
}

.btn-hint:active {
    opacity: 0.5;
}

.letter-button-wrapper {
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-letter {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid var(--black-500);
    background-color: var(--orange-a10);
    color: var(--orange-100);
}

.btn-letter:hover {
    background-color: var(--orange-a20);
    color: var(--white-a80);
}

.btn-letter:active {
    background-color: var(--orange-100);
    color: var(--black-500);
}

/* section toggle slider */
.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--black-500);
    border-radius: 8px;
    margin-bottom: 40px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider::before {
    border-radius: 8px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange-100);
}

.toggle input:checked+.slider {
    transform: translateX(100%);
}

.label-left,
.label-right {
    font-family: Satoshi-Bold, sans-serif;
    font-size: var(--small);
    margin: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white-a80);
    width: 50%;
    z-index: 2;
}

.black-font {
    color: var(--black-500);
    transition: ease-in-out 0.5s;
}

/* end of section toggle slider */