:root {
  --purple-100: #ae98ff;
  --purple-200: #7b64cb;
  --purple-300: #6b2bff4d;
  --purple-400: #6b2bff;
  --purple-900: #19113d;
  --black-500: #524876;
  --black-800: #121128;
  --black-900: #07071b;
  --white-900: #ffffffe6;
  --white-100: #ffffff1a;
  --white-400: #ffffff0a;
  --red-100: #ff7d9c1a;
  --red-300: #ff7d9c4D;
  --red-900: #ff7d9c;
  --green-100: #292D43;
  --green-400: #3D606C;
  --green-900: #65C5BF;

}

@font-face {
  font-family: Satoshi-Medium;
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
    url('./fonts/Satoshi-Medium.woff') format('woff'),
    url('./fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Variable;
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
    url('./fonts/Satoshi-Variable.woff') format('woff'),
    url('./fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
    url('./fonts/Satoshi-Bold.woff') format('woff'),
    url('./fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Light;
  src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
    url('./fonts/Satoshi-Light.woff') format('woff'),
    url('./fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Regular;
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
    url('./fonts/Satoshi-Regular.woff') format('woff'),
    url('./fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


* {
  color: var(--white-900);
  font-family: Satoshi-Variable, sans-serif;
}

html {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-800);
}

body {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer>button:only-child {
  margin-left: auto;
}

#app {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.btn-2 {
  display: flex;
  flex-grow: 1;
  background-color: var(--green-100);
  width: 100%;
}

.btn-next {
  display: flex;
  background-color: var(--green-100);
}

.btn-back {
  display: flex;
  background-color: var(--red-300);
}

.streak {
  display: flex;
  align-items: center;
}

.final-score {
  position: absolute;
  z-index: 2;
  background-color: rgb(31 31 35);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th,
td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}