:root {
  --black-100: #02010E;
  --black-500: #100e15;
  --black-a90: #161519E6;
  --white-a40: #fff6;
  --white-a70: #ffffffb5;
  --white-a80: #fffc;
  --orange-5: #1c151b;
  --orange-a10: #ff876d1a;
  --orange-a20: #ff876d33;
  --orange-100: #ff876d;
  --green-100: #72ecc0;
  --green-a20: #193234;
  --red-100: #ff5775;
  --red-a20: #351425;

}

@font-face {
  font-family: Satoshi-Medium;
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
    url('./fonts/Satoshi-Medium.woff') format('woff'),
    url('./fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Variable;
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
    url('./fonts/Satoshi-Variable.woff') format('woff'),
    url('./fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
    url('./fonts/Satoshi-Bold.woff') format('woff'),
    url('./fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Light;
  src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
    url('./fonts/Satoshi-Light.woff') format('woff'),
    url('./fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Regular;
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
    url('./fonts/Satoshi-Regular.woff') format('woff'),
    url('./fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


* {
  color: var(--white-a80);
  font-family: Satoshi-Variable, sans-serif;
}

html {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-100);
}

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  & div {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-family: Satoshi-Bold, sans-serif;
    font-size: 18px;
    margin: 0;
    color: var(--white-a80);
    text-align: left;
  }

  p {
    font-family: Satoshi-Light, sans-serif;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--white-a80);
    text-align: left;
  }

  & a {
    display: flex;
    align-items: center;
  }

  & img[alt="back button"]:hover {
    opacity: 0.7;
  }

  & img[alt="back button"]:active {
    opacity: 0.25;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer>button:only-child {
  margin-left: auto;
}

#app {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

  /* max-width: 1000px; */
}

.lesson-wrapper {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  gap: 24px;

  & a {
    flex-grow: 1;
  }
}

.streak {
  display: flex;
  align-items: center;
}

.final-score {
  position: absolute;
  z-index: 2;
  background-color: rgb(31 31 35);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lesson-view-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  overflow: hidden;
  background-color: var(--black-100);

  & main {
    overflow: scroll;
  }

  & main h1 {
    font-family: Satoshi-Bold, sans-serif;
    font-size: 24px;
    margin: 16px 0;
    color: var(--white-a80);
  }

  & main p {
    font-family: Satoshi-Variable, sans-serif;
    font-size: 16px;
    color: var(--white-a50);
  }

  footer {
    margin-top: 32px;
  }
}


.level-view-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 32px 16px 0;
  flex-direction: column;
  overflow: hidden;
}

.module-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 32px 16px 0;
  flex-direction: column;
  overflow: hidden;
}

@media only screen and (width >=800px) {
  #app {
    padding: 0;
    flex-direction: row-reverse;
  }

  .level-view-wrapper {
    padding: 32px 16px 16px;
  }

  .module-wrapper {
    padding: 32px 16px 16px;
  }
}

@media only screen and (width <=800px) {
  .lesson-view-wrapper {
    padding: 16px;

    & footer {
      margin-top: 16px;
    }
  }
}