@import url('/src/assets/main.css');

/* The styling of 2 column tables */
table {
    box-sizing: content-box;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

th {
    background-color: var(--black-500);
    color: var(--white-a80);
}

td {
    color: var(--white-a70);
}

th,
td {
    box-sizing: content-box;
    padding: 12px 50px 12px 16px;
    text-align: left;
}

td:nth-child(even),
th:nth-child(even) {
    border-right: 1px solid var(--black-500);
    border-bottom: 1px solid var(--black-500);
}

td:nth-child(odd),
th:nth-child(odd) {
    border-left: 1px solid var(--black-500);
    border-bottom: 1px solid var(--black-500);
}

/* four-column-table class exception */
.four-column-table td:nth-child(2),
.four-column-table th:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid var(--black-500);
}

.four-column-table td:nth-child(3),
.four-column-table th:nth-child(3) {
    border-left: none;
    border-bottom: 1px solid var(--black-500);
}

/* the end of the four-column-table class exception */

tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

@media only screen and (width <=600px) {
    th,
    td {
        padding: 12px 16px 12px 12px;
        font-size: 12px;
    }
}